@import  url(https://fonts.googleapis.com/css?family=Montserrat);


body{
    
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
     
    justify-content:space-evenly;
    flex:1;
    display:block;
    background-color: #ffffff;
}


#logodiv{
   
    height:40vh;
    width: 100%;
    justify-content:center;
    align-items: center;
    display: flex;
}


#loadinDiv{
  
    height:30vh;
    width: 100%;
    justify-content:center;
    align-items: center;
    display: flex;
}
.Loading-text{
  font-size: 18px;
  font-style: normal;
  color: #000000;
  text-align: center;
  margin-left: 10pxs;
}


#VersionDiv{
     
    height:30vh;
    width: 100%;
    justify-content:center;
    align-items: center;
    display: flex;
}
.logoImg{
    height:60px;
    width:60px;

}



#LoadingView {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}