.ButtonStyle{
  border-radius: 15px;
  border-style: none;
  // background-Image: linear-gradient(to right, #F9B035 0%, #F98C4E 53%, #F96767 100%);
  padding:1px 30px 1px 30px;
  margin:10px 10px 10px 0px;
  height:40px;
}
