


.CheckBox{
  border: 1px solid #C0BDCC;
  height:20px;
  width:20px;
}

.LabelInput{
  font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
color: #000000;
font-family:Manrope;
}

.inputStyle{
  height:40px;
  border: 1px solid #EBEBEB;
  border-radius:5px;
  width: 95%;
  font-family:Manrope;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
;

}
.inputStyle::placeholder{
font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;

color: #7A86A1;
}
.row ,.col{
  margin:0px;
  padding:0px;
}

.form-heading{
  font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 41px;
color: $black;
font-family: Manrope;
}
