.Container {
  height: 100%;
  width: 100%;
}
.row {
  width: 100%;
  margin: 0px;
  padding:0px;
}

.col1 {
  height: 100%;
  margin: 0px;
  padding:0px;
}

.AuthContainer{
  justify-content:center;
  align-items:center;
  height:100vh;
  display:flex;
  flex-direction:column;
}

/* Column container */
.row-view {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side-left {
  width: 25%;
  background-color: #f1f1f1;
  padding: 20px 0px 0px 0px;
  height:100vh;
  flex-direction:column;
  display:block;

}

/* Main column */
.main-container {
  width: 75%;
  background-color: #ffffff;

  height:100vh;
}
.main-container-Div {
  flex: 75%;
  background-color: #ffffff;
  height:100vh;
}
.seprator{
  border: 0.1px solid #C8CBD9;
  height:0px;
  width:100%;
  margin-top:10px;
}


@media screen and (max-width: 1200px) {

  .main-container {
    width: 100%;
  }
  .side-left {
    display: none;
  }
}



.dropdown {
  width: 200px;
  user-select: none;
  margin: 10px;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  height: 35px;
  background: #F6F6FB;
  // box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  border-radius:5px ;
  align-items: center;
  cursor: pointer;
  font-family: Manpore;
  justify-content: space-between;
  transition: all 0.4s ease-out;
}

.dropdown .dropdown-btn:hover , .dropdown .dropdown-btn:focus {
  background: #F6F6FB;
  color: rgb(179, 153, 153);
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
  font-family:"Poppins";
  font-Size:"36px";
  font-Style:"medium";
}

.main-container-sub {
  width: 100%;
  background-color: #ffffff;
  height:100vh;
}

.main-container-sub-Home {
  background-color: #ffffff;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
}

.main-container-project-management{
  width:100%;
  height:88vh;
}

.Main_Task_List{
  height: 100%;
  width: 100%;
  // background-color: rgb(82, 139, 224);
}

.ADD_Task_Row{
  height:3rem;
  // margin-top: 0.5%;
  // background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;


}

.Left_Side_Button{
  margin: 0.2rem 0 0.3rem 0;
}
.Right_Side_Button{
  display: flex;
  flex-direction: row;
  margin: 0.2rem 0 0.3rem 0;
}

.Add_Taskss_Button:hover {
  opacity: 0.6;
  transform: scale(0.6);
  transition-duration: 0.5s;
  cursor: pointer;
}

/**
 Tasks Heading Line
**/

.ADD_Task_Heading_Row{
  height:3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 2rem 0 2rem;
  border-top:2px solid;
  border-bottom: 2px solid;
  border-color: rgb(180, 180, 180);
}

.Right_Side_Heading{
  display: flex;
  flex-direction: row;
}

.Left_Side_Input{
  margin: 0rem 0 0.3rem 1rem;
  display: flex;
  flex-direction: row;
}



.add-task__content{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;

}

.add-task__content:focus {
  outline: none;
}

