.Container {
  height: 100%;
  width: 100%;
}
.row {
  width: 100%;
  margin: 0px;
  padding:0px;
}

.col1 {
  height: 100%;
  margin: 0px;
  padding:0px;
}

.AuthContainer{
  justify-content:center;
  align-items:center;
  height:100vh;
  display:flex;
  flex-direction:column;
}




/* Column container */
.row-view {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side-left {
  flex: 25%;
  background-color: #f1f1f1;
  padding: 20px 0px 0px 0px;
  height:100vh;
  flex-direction:column;
  display:flex;
  animation: showMenu 2s;
}

.close_side_bar {
  animation: showMenu 2s reverse;
}

@keyframes showMenu {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

/* Main column */
.main-container {
  flex: 75%;
  background-color: #ffffff;
  padding: 20px;
  height:100vh;
}

.seprator{
  border: 0.1px solid #C8CBD9;
  height:0px;
  width:100%;
  margin-top:10px;
}

@media screen and (max-width: 700px) {
  .main-container {
    width: 100%;
  }
  .side-left {
    display: none;
  }
}

