.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
}

.main-heading-dev {
  margin-bottom: 10px;
}
.Heading-Dev {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.main-heading {
  margin-bottom: 3.2rem;
  font-size: 50px;
  color: #fff;
}
.main-heading-text {
  font-size: 20px;
  color: #fff;
}

.App-header {
  margin-top: 3rem;
}

.Select-Div {
  height: 70px;
  display: flex;
  flex-direction: row;
}

.Select-Div-Heading {
  margin-top: 25px;
  margin-top: 3rem;
}

.Card-Style {
  height: 8rem;
  width: 8rem;
  border-color: #717d7e;
  border-width: 0.5;
  border-style: dashed;
  margin: 1rem;
  border-radius: 1rem;
}

.Card-Style1 {
  height: 8rem;
  width: 8rem;
  border-color: #717d7e;
  border-width: 0.5;
  border-style: solid;
  margin: 1rem;
  border-radius: 1rem;
}
