



.App-Right{
  display: none;
}

@media only screen and (min-width: 1000px) {
  .App-Right {
    display: block;
  }
}
.main-heading{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
 color: #000000;
}
.main-heading-text{
  font-size: 20px;
  color: #fff;
}
.main-smallHeading1{
  width:25rem;
}

.main-smallHeading{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #7A86A1;
}
.Select-Div{
   height: 70px;
   display: flex;
  flex-direction: row;
}
.form-1{
  justify-content:center;
  align-items:center;
width: 100%;
  display:flex;
  flex-direction:column;
}


.LabelStyle{
text-align: start;
margin-top:10px;
margin-bottom: 10px;
}
input[type=file]::file-selector-button {
height: 100%;
}
input[type=file]::file-selector-button:hover {
  border: 2px solid blue;
}

.button-Style{
  width:33rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Create-Button:hover {
  background-color: #0b0050;
  border: 2px solid black;
}

#Org_Des{
  min-height: 70px;
  max-height: 100px;
}
