<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Project Alliance</title>
<<<<<<< HEAD
  <!-- <script src="frappe-gantt.min.js" /> -->
=======

>>>>>>> 3c3adbce4fede5a6edd037e8bb8041de87e8fa72
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
