.pa-logo{

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 11px;
/* identical to box height, or 100% */

letter-spacing: 0.5px;

color: #5A67BA;

mix-blend-mode: normal;
margin-left:5px;
}
