.pa-logo{

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 11px;
/* identical to box height, or 100% */

letter-spacing: 0.5px;

color: #5A67BA;

mix-blend-mode: normal;
margin-left:5px;
}
.pr-5 {
  padding-right:5px;
}
.pl-5{
  padding-left:5px;
}

.active-btn{
  background: #A6ABC8;
  border-radius: 5px;
  z-index: 1;

}
.active-color-text{
  color: #FFF;
}
