.pa-logo{

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 11px;
/* identical to box height, or 100% */

letter-spacing: 0.5px;

color: #5A67BA;

mix-blend-mode: normal;
margin-left:5px;
}
.pr-5 {
  padding-right:5px;
}
.pl-5{
  padding-left:5px;
}

.active-btn{
  background: #A6ABC8;
  border-radius: 5px;
  z-index: 1;

}
.active-color-text{
  color: #FFF;
}
.project-topbar{
  border-bottom-width:1 solid rgb(238, 238, 238);
  height:105px;
  width:100%;
}
.project-title-links-bar{
  display:flex;
  flex-direction:column;
 margin: 20px;
}
.project-logo{
  height:50px;
  width: 50px;
  border-radius:10px;
  background-color:#5A67BA;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Project-title{
  font-size:18px;
  font-weight:bold;
  color:#000;
  margin: 0px 10px 0px 5px;
  font-family: Manpore;

}

.Home-topbar{
  border-bottom-width:1 solid rgb(238, 238, 238);
  height:65px;
  width:100%;
}

.Bell-icon{
  position:absolute;
  cursor: pointer;
}

.sepratorRight{
  border: 0.1px solid #C8CBD9;
  height:0px;
  width:100%;
  margin-top:5px;
}

.sepratorNew{
  border:1px solid #C8CBD9;
  height:40px;
  width:1px;
  margin-top:2px;
}

.Home-title{
  font-family: Manrope;
  width:10%;
  margin: 20px 0px 0px 30px;
}

.Top-Heading{
  height:250px;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

.Top-Team_Detail{
  margin-top:30px;
  width: 600px;
  padding: 15px 20px;
  height: 60px;
  background: #F8F8F8;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.20);
  font-weight: bold;
  color: #333;
  display: flex;
  border-radius:100px ;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;

}

.Project-Phase{
  // background-color: red;
  height:340px;
  display: flex;
  justify-content: space-around;
}

.Divide-Phase{
  width:45%;
  height:295px;
  background-color: #F8F8F8 ;
  border: 1px solid  #B5B2B2;
  border-radius: 10px;
  overflow: hidden;
  // margin: 0px 5% 0px 5%;

}

.Top-Divide-Phase{
  display: flex;
  flex-direction: row;
}

.Avatar-Div{
  margin-left:8px;
  margin-top:10px;
}

.Avatar-Name-Icon{
    display:flex;
    flex-direction:row;
}

.Top-Left-Divide-Phase{
  display: flex;
  flex-direction: row;
  height:"10px";

}

.Create-Project-Div{
  display: flex;
  flex-direction: row;
  height:60px;
  margin-top: 12px;
  border: none;
  width:95%;
  background-color:transparent;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  z-index: 10;
}
.Create-Project-Div:hover{

  background-color: #fff;
  .Left-Create-Project{
    background-color: #fff;
  color: #333;
  }
}
.Left-Create-Project{
      height:50px;
      background-color:#F3F3F3;
      width:50px;
      border-width:1px;
      border-color:#A6ABC8;
      border-style:dotted;
      border-radius:5px;
      display:flex;
      justify-content:center;
      align-items:center;
      cursor: pointer;
      transition: all 0.5s ease-out;
}
.Left-Create-Project:hover,.Left-Create-Project:focus{
  background-color: #fff;
  color: #333;
}

.People-project-Div{
  padding:10px;
  width: 90%;
  overflow: hidden;
  background-color: #F3F3F3;
  margin: 0% 3% 0% 3%;
  border-radius: 15px;
  margin-bottom:10px ;
}

.People-project{
  display:flex;
  flex-direction: row;
  margin-left:30px;
  overflow: hidden;
  overflow-x: scroll;

}

.people-div{
   height: 250px;
   width:230px;
   margin:15px 10px 3px 0px;
   border: 1px solid  #B5B2B2;
   border-radius: 10px;

}

.people-inner-div{
    height: 250px;
    width:230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.Profile-Image{
    height: 40px;
    width: 40px;


}
.Profile-Image-icon{
  height: 50px;
  width: 50px;
  border: 1px #B5B2B2 dashed;
  border-radius: 50%;

}

.View-Profile-Button{
    height: 25px;
    border-color: #898686 ;
}

.View-Button{
    background-color: #B5B2B2;
}

.View-Button:hover{
    background-color: #F3F3F3 ;
    border-color: cornsilk;
}
